.list-group-item {
    border-color: #515151;
    color: antiquewhite;
}

.col.done {
    text-decoration-line: line-through;
}

.col.important {
    color: red;
    font-size: 120%;
    font-weight: bold;
}