.list-group-item {
    border-color: #515151;
}
.list-group-item.done {
    border-color: #515151;
    text-decoration-line: line-through;
}

.list-group-item .row .col {
    color: antiquewhite;
    margin: 0.5%;
}

.col.done{
    text-decoration-line: line-through;
}


/*

.list-group-item .row .col.done {
    color: darkgoldenrod;
    margin: 1%;
    text-decoration-line: line-through;
}

.list-group-item .done {
    color: aqua;
    margin: 1%;
    text-decoration-line: line-through;
}*/
