.list-group-item .row .col {
    color: cadetblue;
    margin: 0.5%;
}

.list-group-item .row .col.done {
    color: darkgoldenrod;
    margin: 1%;
    text-decoration-line: line-through;
}

.list-group-item .done {
    color: aqua;
    margin: 1%;
    text-decoration-line: line-through;
}